body{
    background-image: url(../assets/img/FONDO.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo{
    text-align: center;
}

.logo-spaf{
    margin-top: 20%;
    width: 25%;
    margin-right: 5%;
}

.enlaces{
    text-align: center;
    margin-top:10%;
    margin-bottom: 11%;
    margin-right: 15%;
}

.enlaces-list{
    text-align: center;
    display: grid;
}

.item-img-wpp{
    width: 60%;
    margin: 5%;
}

.item-img-ig{
    width: 45%;
    margin: 5%;
}

.item-img-fb{
    width: 45%;
    margin: 5%;
}

.item-img-web{
    width: 27%;
    margin: 5%;
}

.item-img-ubi{
    width: 45%;
    margin: 5%;
}

.ubicacion{
    text-align: center;
    margin-top: 4%;
}

.direc{
    color: white;
    text-align: center;
    margin-bottom: 10%;
}

.back{
    text-align: center;
}

.flecha{
    width: 10%;
    margin-bottom: 10%;
}

.foot{
    text-align: center;
}

.logo-footer{
    width: 15%;
    filter: brightness(10);
}

.version{
    color: white;
    text-align: center;
    font-size: 9px;
}