body{
    background-image: url(../assets/img/FONDO2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo{
    text-align: center;
}

.logo-spaf{
    margin-top: 20%;
    width: 40%;
    margin-right: 5%;
}

.leyenda{
    text-align: center;
}

.subtitulo{
    width: 45%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.enlaces{
    text-align: center;
    margin-top:5%;
    margin-right: 15%;
    margin-bottom: 20%;
}

.enlaces-list{
    text-align: center;
    display: grid;
    gap: 4%;
    
}

.item-img{
    width: 80%;
}

.ubicacion{
    text-align: center;
    margin-top: 4%;
}

.direc{
    color: white;
    text-align: center;
    margin-bottom: 10%;
}

.back{
    text-align: center;
}

.flecha{
    width: 10%;
    margin-bottom: 10%;
}

.foot{
    text-align: center;
}

.logo-footer{
    width: 65%;
    filter: brightness(10);
}

.suerte{
    width: 52%;
    margin-bottom: 7%;
    margin-bottom: 51%;
}

.version{
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 9px;
    margin-bottom: 10%;
}